.form-d-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-login-input {
    text-align: end;
}



[data-bs-theme="dark"] {
    .card-body-login {
        background-color: #ffffff !important;
        color: #000000;
        border-radius: 1rem;
    }
    .card-body-login input,
    .card-body-login button {
        background-color: #ffffff;
        color: #000000;
        border-color: #555;
    }

    .card-body-login .form-control::placeholder {
    color: #00000063;
    }

    .card-body-login .btn {
        background-color: #0d6efd;
        color: #ffffff;
    }
    .alert-danger{
        background-color: #f8d7da ;
        color: #000000;
    }
}
.alert {
    transition: opacity 0.5s ease;
}


.div-hide-password-login-form{
    cursor: pointer;
}
